.footer {
    height: 100px;
    color:#f3b7e1;
    background-color: #36550e;
    position: fixed;
    bottom: 0;
    right:0;
    left:0;
    padding: 1vmin 0 1rem 0;
  }

.footer-body {
    text-align: center;
  }

.footer-body p { 
    font-size: 1rem;
    margin: 1vmin 0 1vmin 0;
}

.footer-icon {
    display: flex;
    justify-content: space-evenly;
}

.footer-icon img{
    height: 2.5rem;
    width: 2.5rem;
}