/* Styling for name and picture */
#header {
    display: flex;
    margin: 10vmin 0 0 0;
}

#headerpic { 
    height: 550min; 
    width: 50vmin;
    border-radius: 50%;
    order: 2;
    position: relative;
    right: 1vmin;
    /* position: relative;
    top: 2em;
    left: 8em;
    padding: 0.5em; */
    z-index: -1;
} 

#name {
    margin: 1rem 0 0 0;
}

#name h1{
    font-size: 3rem;
    line-height: 95%;
}

#im {
    position: relative;
    left: 9vmin;
    z-index: -2;
}

#beh {
    position: relative;
    left: 2vmin;
}

#will {
    position: relative;
    left: 5vmin;
}

#name>p {
    text-align: center;
    color: #f9d9fb;
    font-family: 'Yrsa','Times New Roman', Times, sans-serif;
    font-style: italic;
    font-size: 1.3em;
    /* padding: 0em 4.5em 1em; */
}

/* #buttons {
    display: flex;
    flex-direction: column;
} */
/* a {
    font-size: 1.5em;
    align-self: flex-end;
} */

/* Styling for buttons */

#grid {
    margin: 10vh 0 0 0;
    padding: 5vmin;
    display: flex;
    flex-direction: column;

}

#grid-top {
    text-align: center;
    width: 33%;
}

#grid-middle {
    justify-self: center;
    text-align: center;
    width: 30%;
    position: relative;
    left: 30vw;
}

#grid-bottom {
    flex: 1;
    width: 33%;
    padding: 0 0 10% 0;
    position: relative;
    left: 66%;
    text-align: center;
}