/* 
#headerpic { 
    height: 10em; 
    width: 10em;
    border-radius: 50%;
    position: relative;
    top: 2em;
    left: 8em;
    padding: 0.5em;
    z-index: -1;
} */



/* #name {
    position: relative;
    top: 1em;
} */

#name>p {
    color: #f9d9fb;
    font-family: 'Yrsa','Times New Roman', Times, sans-serif;
    font-style: italic;
    font-size: 1.3em;
    padding: 0em 4.5em 1em;
}

/* #buttons {
    display: flex;
    flex-direction: column;
} */
/* a {
    font-size: 1.5em;
    align-self: flex-end;
} */
